body{
  background-image: url(sports-large.jpg);
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map{
  height: 900px;
  width: 1400px;
  display: block;
  /*margin: 50px;*/
  float: left;
  box-sizing: border-box;
}
.listitem li{
  font-size: 20px;
}
#ticketBox {
margin-top: 50px;
float: left;
width: 30%;
left: 70%;
 height: 100%;
 position: absolute;
 padding: 2%;
 padding-top: 40px;
 overflow: auto;
 box-sizing: border-box;
 background-color: #cccccc ;
}
